/* Fixed Scroll Layout */

/* set all parents to full height */
html, body,
.panel-container,
.panel-container section {
    height: 100%;
}

.panel-container {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    /*overflow-y: hidden;*/
    width: 100%;
}

/* background-attachment does the trick */
.panel-container section {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

.no-touch .panel-container section {
    background-attachment: fixed;
}

/*.panel-container section.container {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*width: 100%;*/
/*}*/

.panel1 {
    background: url('../images/cartographer.png') repeat top left;
}

.panel2 {
    background: url('../images/stardust.png') repeat top left;
}

.panel3 {
    background: url('../images/use_your_illusion.png') repeat top left;
}

.panel4 {
    background: url('../images/dark_mosaic.png') repeat top left;
}


/* Fly-out Menu */

body, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* way the hell off screen */
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

.sliding-menu {
    position: fixed;
    height: 410px;
    width: 410px;
    top: 40px;
    overflow: hidden;
    right: 15px;
    /*right: 0;*/
    font-family: Arial, Helvetica, sans-serif;

    /*todo: can't scroll when hovering over menu*/
    z-index: 1;
}

.sliding-menu li {
    display: block;
    float: right;
    clear: both;
    position: relative;
    overflow: hidden;
}

.sliding-menu li.move {
    width: 9px;
    height: 68px;
    right: 0;
    padding-right: 10px;
    margin-top: 2px;
    z-index: 8;
    position: absolute;
    background: #2183c4;
    background: -webkit-gradient(linear, left top, left bottom, from(#0771b8), to(#2183c4));
    background: -moz-linear-gradient(top, #0771b8, #2183c4);
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-box-shadow: 1px 1px 5px #000;
    -webkit-box-shadow: 1px 1px 5px #000;
    box-shadow: 1px 1px 5px #000;
}

.sliding-menu li a {
    font-size: 66px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ddd;
    outline: none;
    text-indent: 5px;
    z-index: 10;
    display: block;
    float: right;
    height: 66px;
    line-height: 66px;
    position: relative;
    overflow: hidden;
    padding-right: 10px;
}
